* {
    margin: 0;
    padding: 0;
    color: slateblue;
  }

  html {
    font-size: 24;
    font-family: 'Hahmlet', serif;
  }

  body {
    background: yellow;
  }

  p {
    color: blue;
    font-size: 20px;
    text-align: center;
  }
  
  header {
    background-color: blueviolet;
    color:cornflowerblue;
    padding: 20px;
    border: 20px solid #ffa922;
    text-align: left;
    height: 25vh;
  }


  
  footer {
    background-color: purple;
    color:crimson;
    padding: 50px;
  }
  
  a {
    color: rgb(21, 14, 83);
    background-color: rgb(151, 180, 70);
    text-decoration: inherit;
  }
/* use li for global and #blank for targeted */
  li {
    color: rgb(67, 170, 41);
    background-color: white;
    text-decoration: inherit;
    display:ruby-text-container;
  }

  #experience ul{display: flex;
    list-style-type: none; 
    flex-direction: column;
     height: 300px; 
     justify-content: space-between; 

  }

  #skills ul{display: flex;
    list-style-type: none; 
    flex-direction: column;
     height: 300px; 
     justify-content: space-between; 

  }

  img {
    width: 10%;
    height: 10%;
    padding: 15px;  
    max-width: fit-content;
  }
  
  section {
     /*padding: 20px 15px 30px 35px; */
    text-align: center;
    margin: 0 auto 30px;
  }
    

    button{
      background-color: tomato;
    }

    .removeButton{
      color: green;
      background-color: violet;
    }

    #skills{
      color:aliceblue;
    }

    @media print  {
      section{
      min-height: auto;
      }
    }

    @media screen and (min-width: 730px) {
      ul li {
        display: inline-block;
        width: 30%;
      }
    }